body {
    background-color: #a9a9a9;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    color: #f9f9d1;
}
li>a {
    color: #fff;
}
body>header {
    text-align: center;
}
ul {
    list-style: none;
    font-size: 22px;
}
li:last-child{
    text-decoration: underline;
}
article>header {
    text-align: left;
    font-size: 20px;
}
.current {
    background-color: #d3d3d3;
}
body>footer {
    text-align: center;
}
article>footer {
    font-size: 13px;
}