<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {

                $.getJSON("api/album",
                function (data) {

                    $.each(data, function (key, val) {


                        var str = val.name + ': $' + val.salary;


                        $('<li/>', { text: str })
                        .appendTo($('#detail'));
                    });
                });
            });

            function find() {
                var id = $('#detId').val();
                $.getJSON("api/album" + id,
                    function (data) {
                        var str = data.name + ': $' + data.salary;
                        $('#detail').text(str);
                    })
                .fail(
                    function (jqXHR, textStatus, err) {
                        $('#detail').text('Error: ' + err);
                    });
            }
    </script>

</head>
<body id="body">
    <div class="main-content">
        <div>
            <h1>Showing All Items</h1>
            <ul id="details" />
        </div>
        <div>
            <label for="detId">ID:</label>
            <input type="text" id="detId" size="5" />
            <input type="button" value="Search" onclick="find();" />
            <p id="detail" />
        </div>
    </div>
</body>
</html>
